<div <div class="container">
  <form name="ticketForm">
  </br>
  <button class="btn" ng-disabled="ticketForm.$invalid" ng-click="updateTicket()">Update Ticket</button>
  <button class="btn" ng-click="undo()">Undo All</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</br>
</br>
<table>
  <tr>
    <td>
      <label style="font-weight:normal;">Customer<span style="color:red;">*</span></label>
      <div>
        <input style="width:86%; float:left" ng-model="ticket.customerName" placeholder="Customer" class="form-control" readonly required><button style="float:right" class='btn' ng-click="selectUser()">Select Customer</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="float:left; width:49%">
        <label style="font-weight:normal;">Customer Email<span style="color:red;">*</span></label>
        <input ng-model="ticket.email" placeholder="Email" class="form-control" readonly required>
      </div>
      <div style="float:right; width:49%">
        <label style="font-weight:normal;">Customer Number<span style="color:red;">*</span></label>
        <input ng-model="ticket.number" placeholder="Number" class="form-control" readonly required>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="float:left; width:49%">
        <label style="font-weight:normal;">Customer Title<span style="color:red;">*</span></label>
        <input ng-model="ticket.title" placeholder="Title" class="form-control" readonly required>
      </div>
      <div style="float:right; width:49%">
        <label style="font-weight:normal;">Customer Location<span style="color:red;">*</span></label>
        <input ng-model="ticket.location" placeholder="Location" class="form-control" readonly required>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="float:left; width:49%">
        <label style="font-weight:normal;">Prefered Contact Method<span style="color:red;">*</span></label>
        <select class="form-input" ng-model="ticket.contactMethod" required>
          <option value="None">None</option>
          <option value="Email">Email</option>
          <option value="Phone">Phone</option>
          <option value="In Person">In Person</option>
        </select>
      </div>
    </td>
  </tr>
  <tr><td></br></td></tr>
  <tr><td class="inSeperator"></td></tr>
  <tr><td></br></td></tr>
  <tr>
    <td>
      <label style="font-weight:normal;">Ticket Subject<span style="color:red;">*</span></label>
      <input class="form-input"  placeholder="Enter online ticket subject" ng-model="ticket.ticketTitle" required>
    </td>
  </tr>
  <tr>
    <td>
      <div style="float:left; width:49%">
        <label style="font-weight:normal;">Ticket Type<span style="color:red;">*</span></label>
        <select class="form-input" ng-model="ticket.type" required>
          <option value="Internal Project">Internal</option>
          <option value="External Project">External</option>
        </select>
      </div>
      <div style="float:right; width:49%">
        <label style="font-weight:normal;">Priority<span style="color:red;">*</span></label>
        <select class="form-input" ng-model="ticket.priority" required>
          <option value=4>Low</option>
          <option value=3>Medium</option>
          <option value=2>High</option>
          <option value=1>Urgent</option>
        </select>
      </div>
    </td>
  </tr>
  <tr ng-if="systemTicketOptions.ticketSettings.ticketDueDate">
    <td>
      <label style="font-weight:normal;">Due Date<span style="color:red;">*</span></label>
      <div class="input-group">
        <input type="date" class="form-control" readonly="readonly" show-weeks="false" datepicker-popup ng-model="ticket.dDate" is-open="opened" show-button-bar="false" required>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="calenderOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td ng-if="systemTicketOptions.ticketSettings.ticketLocation">
      <label style="font-weight:normal;">Venue<span style="color:red;">*</span></label>
      <input class="form-input"  placeholder="Required" ng-model="ticket.ticketLocation" required>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <label style="font-weight:normal;">Detail Description<span style="color:red;">*</span></label>
        <text-angular ng-model="ticket.detailDescription" required></text-angular>
      </div>
    </td>
    <tr>
    </table>
  </br>
  <button class="btn" ng-disabled="ticketForm.$invalid" ng-click="updateTicket()">Update Ticket</button>
  <button class="btn" ng-click="undo()">Undo All</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</form>
</div>
