<div>
  <center>
  </br>
  <input placeholder="Enter to Search Directory" class="form-input" style="width:90%;text-align:center;" ng-model="search.$">
</br>
  <button class="btn" style="cursor:pointer;" ng-click="advanceSearch = !advanceSearch">Advance Search</button>
</center>
<div collapse = "advanceSearch">
  <div class="well well-lg">
    <table>
      <tr>
        <td style="padding-right : 25px">First Name <input class="form-input" type ="text" ng-model="search.fname"></td>
        <td style="padding-right : 25px">Last Name <input class="form-input" type ="text" ng-model="search.lname"></td>
        <td style="padding-right : 25px">Username <input class="form-input" type ="text" ng-model="search.username"></td>
        <td style="padding-right : 25px">NUID <input class="form-input" type ="text" ng-model="search.NUID"></td>
        <td style="padding-right : 25px">Email <input class="form-input" type ="text" ng-model="search.email"></td>
        <td>Group: <input class="form-input" type ="text" ng-model="search.group"></td>
      </tr>
      <tr>
        <td style="padding-right : 25px; padding-top : 8px">Number <input class="form-input" type ="text" ng-model="search.number"> </td>
        <td style="padding-right : 25px; padding-top : 8px">Department <input class="form-input" type ="text" ng-model="search.departmentname"></td>
        <td style="padding-right : 25px; padding-top : 8px">Location <input class="form-input" type ="text" ng-model="search.location"></td>
        <td style="padding-right : 25px; padding-top : 8px">Building Name <input class="form-input" type ="text" ng-model="search.bName"></td>
        <td style="padding-right : 25px; padding-top : 8px">College <input class="form-input" type ="text" ng-model="search.college"></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
<table class="table" style="text-align: center">
  <thead>
    <tr colspan="3">
      <div class="pagination">
        <td>&nbsp;</td>
        <td ng-class="prevPageDisabled()">
          <button class='btn' ng-click="prevPage()">« Prev</button>
        </td>
        <td ng-class="nextPageDisabled()">
          <button class='btn' ng-click="nextPage()">Next »</button>
        </td>
      </div>
    </tr>
    <tr>
      <th ng-click="reverse=!reverse;order('fname', reverse)" style="cursor:pointer; text-align: center;">&nbsp;Name&nbsp;</th>
      <th ng-click="reverse=!reverse;order('-NUID', reverse)" style="cursor:pointer; text-align: center;">NUID</th>
      <th ng-click="reverse=!reverse;order('email', reverse)" style="cursor:pointer; text-align: center;">EMAIL</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in listDirectory | filter:search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
      <td>{{person.fname}} {{person.lname}}</td>
      <td>{{person.NUID}}</td>
      <td>{{person.email}}</td>
      <td><button class='btn' ng-click="selectUser(person.fname, person.lname, person._id, person.email, person.number, person.title, person.location)">Select</button></td>
    </tr>
  </tbody>
</table>
</div>
