<div>
  <tabset>
    <tab heading="All Tickets" active="allActive" disable="allDisabled">
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th style="text-align: center">Subject</th>
            <th style="text-align: center">Holder</th>
            <th style="text-align: center">Hold Requested To</th>
            <th style="text-align: center">Assigned Team</th>
            <th style="text-align: center">Customer</th>
            <th style="text-align: center" ng-if="viewOptions.contactMethod">Prefered Contact Method</th>
            <th style="text-align: center">State</th>
            <th style="text-align: center">Priority</th>
            <th style="text-align: center" ng-if="viewOptions.ticketLocation">Venue</th>
            <th style="text-align: center" ng-if="viewOptions.assignmentType">Assign Status</th>
            <th style="text-align: center" ng-if="viewOptions.creatorName">Creator</th>
            <th style="text-align: center" ng-if="viewOptions.creationDate">Creation Date</th>
            <th style="text-align: center" ng-if="viewOptions.dueDate">Due Date</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ticket in listTicket ">
            <td><button style="color:0099CC;cursor:pointer;background-color:white;border:none" ng-click="details(ticket._id)">{{ticket.ticketTitle}}</button></td>
            <td>{{ticket.holderName}}</td>
            <td>{{ticket.assignTo}}</td>
            <td>{{ticket.assignedTeam}}</td>
            <td>
              <li class="dropdown" style="list-style-type: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">{{ticket.customerName}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                </ul>
              </li>
            </td>
            <td ng-if="viewOptions.contactMethod">{{ticket.contactMethod}}</td>
            <td>{{ticket.ticketState}}</td>
            <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
            <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
            <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
            <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
            <td ng-if="viewOptions.ticketLocation">{{ticket.ticketLocation}}</td>
            <td ng-if="viewOptions.assignmentType">{{ticket.assignmentType}}</td>
            <td ng-if="viewOptions.creatorName">{{ticket.creatorName}}</td>
            <td ng-if="viewOptions.creationDate">{{ticket.creationDate | date:'mediumDate'}}</td>
            <td ng-if="viewOptions.dueDate">{{ticket.dDate | date:'mediumDate'}}</td>
            <td class="dropdown">
              <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="approveTransfer(ticket._id, ticket.assignTo)">Approve Transfer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="denyTransfer(ticket._id, ticket.assignTo)">Deny Transfer</a></li>
                <li ng-if="(ticket.assignTo == controlUser) && (ticket.ticketState == 'To be acknowledged') && (ticket.ticketState != 'To be approved')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
                <li ng-if="((leads.indexOf(ticket.assignTo) > -1) && (ticket.ticketState == 'To be acknowledged'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledgeTeam(ticket._id, ticket.assignedTeam, ticket.assignTo)">Acknowledge</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType =='OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType =='OPEN' && member.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
                <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Assign Ticket</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) && ((ticket.assignedTeam == 'OPEN' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New') || ((member.indexOf(ticket.assignedTeam) > -1 && ticket.assignmentType != 'LEAD ASSIGNED') && (ticket.assignmentType != 'DIRECT ASSIGNMENT' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New'))))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) &&((ticket.ticketState != 'To Be Assigned') && (ticket.assignedTeam != 'OPEN') && (member.indexOf(ticket.assignedTeam) > -1) && (ticket.assignmentType == 'LEAD ASSIGNED' || ticket.assignmentType == 'DIRECT ASSIGNMENT')))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferRequest(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && ((ticket.holderName == controlUser && ticket.assignedTeam == 'OPEN') || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="teamTicketTransfer(ticket._id, ticket.assignedTeam, ticket.assignmentType)">Team Transfer</a></li>
                <li ng-if="(((ticket.ticketState == 'To be acknowledged') || (ticket.ticketState == 'To be approved')) && (ticket.holderName == controlUser) && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(H)</a></li>
                <li ng-if="((leads.indexOf(ticket.assignedTeam) > -1) && (ticket.ticketState == 'To be acknowledged') && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(L)</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 && ticket.ticketState != 'To Be Assigned') || (leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>

    <!--My Ticket-->
    <tab heading="My Tickets" active="myActive" disable="myDisabled">
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th style="text-align: center">Subject</th>
            <th style="text-align: center">Hold Requested To</th>
            <th style="text-align: center">Assigned Team</th>
            <th style="text-align: center">Customer</th>
            <th style="text-align: center" ng-if="viewOptions.contactMethod">Prefered Contact Method</th>
            <th style="text-align: center">State</th>
            <th style="text-align: center">Priority</th>
            <th style="text-align: center" ng-if="viewOptions.ticketLocation">Venue</th>
            <th style="text-align: center" ng-if="viewOptions.assignmentType">Assign Status</th>
            <th style="text-align: center" ng-if="viewOptions.creatorName">Creator</th>
            <th style="text-align: center" ng-if="viewOptions.creationDate">Creation Date</th>
            <th style="text-align: center" ng-if="viewOptions.dueDate">Due Date</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ticket in listTicket" ng-if="ticket.holderName == controlUser">
            <td><button style="color:0099CC;cursor:pointer;background-color:white;border:none" ng-click="details(ticket._id)">{{ticket.ticketTitle}}</button></td>
            <td>{{ticket.assignTo}}</td>
            <td>{{ticket.assignedTeam}}</td>
            <td>
              <li class="dropdown" style="list-style-type: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">{{ticket.customerName}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                </ul>
              </li>
            </td>
            <td ng-if="viewOptions.contactMethod">{{ticket.contactMethod}}</td>
            <td>{{ticket.ticketState}}</td>
            <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
            <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
            <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
            <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
            <td ng-if="viewOptions.ticketLocation">{{ticket.ticketLocation}}</td>
            <td ng-if="viewOptions.assignmentType">{{ticket.assignmentType}}</td>
            <td ng-if="viewOptions.creatorName">{{ticket.creatorName}}</td>
            <td ng-if="viewOptions.creationDate">{{ticket.creationDate | date:'mediumDate'}}</td>
            <td ng-if="viewOptions.dueDate">{{ticket.dDate | date:'mediumDate'}}</td>
            <td class="dropdown">
              <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="approveTransfer(ticket._id, ticket.assignTo)">Approve Transfer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="denyTransfer(ticket._id, ticket.assignTo)">Deny Transfer</a></li>
                <li ng-if="(ticket.assignTo == controlUser) && (ticket.ticketState == 'To be acknowledged') && (ticket.ticketState != 'To be approved')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
                <li ng-if="((leads.indexOf(ticket.assignTo) > -1) && (ticket.ticketState == 'To be acknowledged'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledgeTeam(ticket._id, ticket.assignedTeam, ticket.assignTo)">Acknowledge</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType =='OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType =='OPEN' && member.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
                <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Assign Ticket</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) && ((ticket.assignedTeam == 'OPEN' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New') || ((member.indexOf(ticket.assignedTeam) > -1 && ticket.assignmentType != 'LEAD ASSIGNED') && (ticket.assignmentType != 'DIRECT ASSIGNMENT' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New'))))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) &&((ticket.ticketState != 'To Be Assigned') && (ticket.assignedTeam != 'OPEN') && (member.indexOf(ticket.assignedTeam) > -1) && (ticket.assignmentType == 'LEAD ASSIGNED' || ticket.assignmentType == 'DIRECT ASSIGNMENT')))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferRequest(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && ((ticket.holderName == controlUser && ticket.assignedTeam == 'OPEN') || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="teamTicketTransfer(ticket._id, ticket.assignedTeam, ticket.assignmentType)">Team Transfer</a></li>
                <li ng-if="(((ticket.ticketState == 'To be acknowledged') || (ticket.ticketState == 'To be approved')) && (ticket.holderName == controlUser) && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(H)</a></li>
                <li ng-if="((leads.indexOf(ticket.assignedTeam) > -1) && (ticket.ticketState == 'To be acknowledged') && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(L)</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 && ticket.ticketState != 'To Be Assigned') || (leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>

    <!-- team ticket -->

    <tab heading="My Teams' Ticket" active="teamActive" disable="teamDisabled">
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th style="text-align: center">Subject</th>
            <th style="text-align: center">Holder</th>
            <th style="text-align: center">Hold Requested To</th>
            <th style="text-align: center">Assigned Team</th>
            <th style="text-align: center">Customer</th>
            <th style="text-align: center" ng-if="viewOptions.contactMethod">Prefered Contact Method</th>
            <th style="text-align: center">State</th>
            <th style="text-align: center">Priority</th>
            <th style="text-align: center" ng-if="viewOptions.ticketLocation">Venue</th>
            <th style="text-align: center" ng-if="viewOptions.assignmentType">Assign Status</th>
            <th style="text-align: center" ng-if="viewOptions.creatorName">Creator</th>
            <th style="text-align: center" ng-if="viewOptions.creationDate">Creation Date</th>
            <th style="text-align: center" ng-if="viewOptions.dueDate">Due Date</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ticket in listTicket" ng-if="member.indexOf(ticket.assignedTeam) > -1">
            <td><button style="color:0099CC;cursor:pointer;background-color:white;border:none" ng-click="details(ticket._id)">{{ticket.ticketTitle}}</button></td>
            <td>{{ticket.holderName}}</td>
            <td>{{ticket.assignTo}}</td>
            <td>{{ticket.assignedTeam}}</td>
            <td>
              <li class="dropdown" style="list-style-type: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">{{ticket.customerName}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                </ul>
              </li>
            </td>
            <td ng-if="viewOptions.contactMethod">{{ticket.contactMethod}}</td>
            <td>{{ticket.ticketState}}</td>
            <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
            <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
            <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
            <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
            <td ng-if="viewOptions.ticketLocation">{{ticket.ticketLocation}}</td>
            <td ng-if="viewOptions.assignmentType">{{ticket.assignmentType}}</td>
            <td ng-if="viewOptions.creatorName">{{ticket.creatorName}}</td>
            <td ng-if="viewOptions.creationDate">{{ticket.creationDate | date:'mediumDate'}}</td>
            <td ng-if="viewOptions.dueDate">{{ticket.dDate | date:'mediumDate'}}</td>
            <td class="dropdown">
              <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="approveTransfer(ticket._id, ticket.assignTo)">Approve Transfer</a></li>
                <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="denyTransfer(ticket._id, ticket.assignTo)">Deny Transfer</a></li>
                <li ng-if="(ticket.assignTo == controlUser) && (ticket.ticketState == 'To be acknowledged') && (ticket.ticketState != 'To be approved')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
                <li ng-if="((leads.indexOf(ticket.assignTo) > -1) && (ticket.ticketState == 'To be acknowledged'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledgeTeam(ticket._id, ticket.assignedTeam, ticket.assignTo)">Acknowledge</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType =='OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType =='OPEN' && member.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
                <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Assign Ticket</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) && ((ticket.assignedTeam == 'OPEN' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New') || ((member.indexOf(ticket.assignedTeam) > -1 && ticket.assignmentType != 'LEAD ASSIGNED') && (ticket.assignmentType != 'DIRECT ASSIGNMENT' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New'))))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) &&((ticket.ticketState != 'To Be Assigned') && (ticket.assignedTeam != 'OPEN') && (member.indexOf(ticket.assignedTeam) > -1) && (ticket.assignmentType == 'LEAD ASSIGNED' || ticket.assignmentType == 'DIRECT ASSIGNMENT')))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferRequest(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                <li ng-if="((ticket.assignTo == 'NONE') && ((ticket.holderName == controlUser && ticket.assignedTeam == 'OPEN') || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="teamTicketTransfer(ticket._id, ticket.assignedTeam, ticket.assignmentType)">Team Transfer</a></li>
                <li ng-if="(((ticket.ticketState == 'To be acknowledged') || (ticket.ticketState == 'To be approved')) && (ticket.holderName == controlUser) && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(H)</a></li>
                <li ng-if="((leads.indexOf(ticket.assignedTeam) > -1) && (ticket.ticketState == 'To be acknowledged') && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(L)</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 && ticket.ticketState != 'To Be Assigned') || (leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>
