<div class="container">
  <accordion>
    <accordion-group style="text-align:center" heading={{ticket.ticketTitle}} is-open=true>
      <table style="width:100%">
        <tr>
          <td>
            <table>
              <tr>
                <td><label style="font-weight:normal;">Customer:&nbsp;{{ticket.customerName}}</label></td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Prefered Customer Contact Method:&nbsp;{{ticket.contactMethod}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Ticket Location:&nbsp;{{ticket.ticketLocation}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="width:100%">
                    <tr><td><label style="font-weight:normal;">Short Description:</label></td></tr>
                    <tr><td>&nbsp;&nbsp;&nbsp;{{ticket.shortDescription}}</td></tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr><td>&nbsp;</td></tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Ticket Holder:&nbsp;{{ticket.holderName}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Ticket Status:&nbsp;{{ticket.ticketState}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Assigned Team:&nbsp;{{ticket.assignedTeam}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label ng-if="ticket.priority=='1'"style="font-weight:normal;">Priority:&nbsp;Urgent</label>
                  <label ng-if="ticket.priority=='2'"style="font-weight:normal;">Priority:&nbsp;High</label>
                  <label ng-if="ticket.priority=='3'"style="font-weight:normal;">Priority:&nbsp;Medium</label>
                  <label ng-if="ticket.priority=='4'"style="font-weight:normal;">Priority:&nbsp;Low</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Resolve Level:&nbsp;{{ticket.level}}</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="font-weight:normal;">Ticket Type:&nbsp;{{ticket.type}}</label>
                </td>
              </tr>
              <tr>
                <td class="dropdown">
                  <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                    <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="approveTransfer(ticket._id, ticket.assignTo)">Approve Transfer</a></li>
                    <li ng-if="(ticket.ticketState == 'To be approved' && member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="denyTransfer(ticket._id, ticket.assignTo)">Deny Transfer</a></li>
                    <li ng-if="(ticket.assignTo == controlUser) && (ticket.ticketState == 'To be acknowledged') && (ticket.ticketState != 'To be approved')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
                    <li ng-if="((leads.indexOf(ticket.assignTo) > -1) && (ticket.ticketState == 'To be acknowledged'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledgeTeam(ticket._id, ticket.assignedTeam, ticket.assignTo)">Acknowledge</a></li>
                    <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType =='OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType =='OPEN' && member.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
                    <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Assign Ticket</a></li>
                    <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) && ((ticket.assignedTeam == 'OPEN' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New') || ((member.indexOf(ticket.assignedTeam) > -1 && ticket.assignmentType != 'LEAD ASSIGNED') && (ticket.assignmentType != 'DIRECT ASSIGNMENT' && ticket.ticketState != 'To Be Assigned' && ticket.ticketState != 'New'))))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferTicket(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                    <li ng-if="((ticket.assignTo == 'NONE') && (ticket.holderName == controlUser) &&((ticket.ticketState != 'To Be Assigned') && (ticket.assignedTeam != 'OPEN') && (member.indexOf(ticket.assignedTeam) > -1) && (ticket.assignmentType == 'LEAD ASSIGNED' || ticket.assignmentType == 'DIRECT ASSIGNMENT')))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="transferRequest(ticket._id,ticket.assignedTeam, ticket.assignmentType)">Request Transfer</a></li>
                    <li ng-if="((ticket.assignTo == 'NONE') && ((ticket.holderName == controlUser && ticket.assignedTeam == 'OPEN') || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="teamTicketTransfer(ticket._id, ticket.assignedTeam, ticket.assignmentType)">Team Transfer</a></li>
                    <li ng-if="(((ticket.ticketState == 'To be acknowledged') || (ticket.ticketState == 'To be approved')) && (ticket.holderName == controlUser) && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(H)</a></li>
                    <li ng-if="((leads.indexOf(ticket.assignedTeam) > -1) && (ticket.ticketState == 'To be acknowledged') && (ticket.assignTo != 'NONE'))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="cancelTicketTransfer(ticket._id, ticket.assignTo)">Cancel Transfer(L)</a></li>
                    <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 && ticket.ticketState != 'To Be Assigned') || (leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </accordion-group>
    <accordion close-others=false>
      <accordion-group heading="Detail Description" is-open=true>
        {{ticket.detailDescription}}
      </accordion-group>
    </accordion>
    <accordion close-others=false ng-if="ticket.active">
      <accordion-group heading="Add Log" is-open=true>
        <div>
          <form name="newTicketLog">
            <table>
              <tr><td><textarea class="form-control custom-control" rows="8" cols="200" ng-model="logData.content" required></textarea></tr></td>
              <tr><td>&nbsp;</td></tr>
              <tr><td>
                <label style="font-weight:normal;">Notify cutomer of the update (Will also be visible to customer)&nbsp;</label>
                <input type="checkbox" ng-model="logData.customerNotifyLog" ng-true-value="true" ng-false-value="false">
              </td></tr>
              <tr><td ng-if="!logData.customerNotifyLog">
                <label style="font-weight:normal;">Make the log visible to customer&nbsp;</label>
                <input type="checkbox" ng-model="logData.customerVisibleLog" ng-true-value="true" ng-false-value="false">
              </td></tr>
              <tr><td>&nbsp;</td></tr>
              <tr><td><button class="btn" ng-disabled="newTicketLog.$invalid" ng-click="addToLog()">Add</button></tr></td>
            </table>
          </form>
        </div>
      </accordion-group>
    </accordion>
  </accordion>
</div>
<div class="container">
  <tabset>
    <tab heading="Ticket Logs">
      <accordion close-others=false>
        <accordion-group heading="Type: {{log.type}}&nbsp;&nbsp;&nbsp;&nbsp;By: {{log.by}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Visble: {{log.customerVisibleLog}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Notified: {{log.customerNotifyLog}}&nbsp;&nbsp;&nbsp;&nbsp;Date: {{log.date}}" ng-repeat="log in ticket.workLog.slice().reverse()" is-open=true>
          {{log.content}}
        </accordion-group>
      </accordion>
    </tab>
    <tab heading="Internal Update Logs">
      <accordion close-others=false>
        <accordion-group ng-repeat="log in ticket.workLog.slice().reverse()" heading="Type: {{log.type}}&nbsp;&nbsp;&nbsp;&nbsp;By: {{log.by}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Visble: {{log.customerVisibleLog}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Notified: {{log.customerNotifyLog}}&nbsp;&nbsp;&nbsp;&nbsp;Date: {{log.date}}" ng-if="log.type == 'Internal'" is-open=true>
          {{log.content}}
        </accordion-group>
      </accordion>
    </tab>
    <tab heading="Email Logs">
      <accordion close-others=false>
        <accordion-group ng-repeat="log in ticket.workLog.slice().reverse()" heading="Type: {{log.type}}&nbsp;&nbsp;&nbsp;&nbsp;By: {{log.by}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Visble: {{log.customerVisibleLog}}&nbsp;&nbsp;&nbsp;&nbsp;Customer Notified: {{log.customerNotifyLog}}&nbsp;&nbsp;&nbsp;&nbsp;Date: {{log.date}}" ng-if="log.type == 'Email'" is-open=true>
          {{log.content}}
        </accordion-group>
      </accordion>
    </tab>
  </tabset>
</div>
