body,
textarea {
  font: 13px "Trebuchent MS", sans-serif;
}
.chat {
  max-width: 100%;
}

.chat-messages,
.chat textarea{
  border:1px solid #bbb;
}

.chat-messages {
  width:100%;
  height:250px;
  overflow-y:auto;
  padding: 10px;
}

.chat-message{
  margin-bottom:10px;
}

.chat textarea{
  padding:10px;
  margin:0;
  border-top:0;
  max-width:100%;
  outline:none;
}

.chat-status {
  color:#bbb;
}
