<div class="container">
    <button class="btn" ng-click="edit()">Edit</button>
    <button class="btn" ng-click="remove()">Remove</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
    </br></br>
    <table>
        <tr><td>Group:&nbsp;{{person.group}}</td></tr>
        <tr><td>NU ID:&nbsp;{{person.NUID}}</td></tr>
        <tr><td>Username:&nbsp;{{person.username}}</td></tr>
        <tr>
            <td>First Name:&nbsp;{{person.fname}}&nbsp;</td>
            <td>Last Name:&nbsp;{{person.lname}}</td>
        </tr>
        <tr><td>Title:&nbsp;{{person.title}}</td></tr>
        <tr>
            <td>Email:&nbsp;{{person.email}}&nbsp;</td>
            <td>Number:&nbsp;{{person.number}}</td>
        </tr>
        <tr>
            <td>Department Name:&nbsp;{{person.departmentname}}&nbsp;</td>
            <td>Room No:&nbsp;{{person.location}}</td>
        </tr>
        <tr>
            <td>Building Name:&nbsp;{{person.bName}}&nbsp;</td>
            <td>College:&nbsp;{{person.college}}</td>
        </tr>
        <tr><td>Note:&nbsp;{{person.note}}</td></tr>
    </table>
    </br>
    <button class="btn" ng-click="edit()">Edit</button>
    <button class="btn" ng-click="remove()">Remove</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>
