<!DOCTYPE>
<html>
<head>
    <title>System Office</title>
</head>
<body>
  <div>
    <% if (!isAuthenticated) {%>
    <a href="/login"> Log in here</a>
    <%} else {%>
    <a href="/main">Administrator</a>
    <%}%>
  </div>
</body>
</html>
<!DOCTYPE>
<html>
