<!DOCTYPE>
<html>
<head>
  <title>System Office</title>
  <link rel='stylesheet' href='/stylesheets/login.css'/>
  <link rel="stylesheet" href="/stylesheets/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body style="background-color:#636568">
  <div>
    <center>
      <form action= "" method="post" class="form-login">
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        &nbsp;
        <button class="btn" type="submit">Sign in</button>
      </form>
    </center>
  </div>
</body>
</html>
