body{
  margin : 0px;
  height: 100%;
  width: 100%;
}
.header{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  border: none;
  margin: 0px;
}
.header-content{
  width: 100%;
}
.header-left-content{
  width: 30%;
  text-align: left;
  padding-left: 30px;
}
.header-right-content{
  width: 70%;
  text-align: right;
  padding-right: 50px;
}
.global-menu{
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 16%;
  background-color: #333333;
}
.menu-content{
  padding-left: 50px;
  color: #BCBBBA;
  font-family: "URW Grotesk",sans-serif;
}
.seperator{
  width: 100%;
  height: 5px;
  background-color: #D71920;
  border: none;
  margin-bottom: 0px;
}
.content-view{
  padding-left: 50px;
  padding-right: 50px;
}
.formContent{
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "URW Grotesk", sans-serif;
  color: #636568;
}
.form-search{
  font-family: "URW Grotesk", sans-serif;
  color: #636568;
  display:block;
  width:1170px;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-input{
  font-family: "URW Grotesk", sans-serif;
  color: #636568;
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.btn{
  font-size:15px;
  width:130px;
  height:34px;
  font-family: "URW Grotesk", sans-serif;
  color: #636568;
  background-color:#d3d3d3;
  border-color:#c0c0c0;
}
.btn.active,
.btn.focus,
.btn:active,
.btn:hover,
.open>.dropdown-toggle.btn{
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.footer{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  border: none;
  margin: 0px;
}
.footer-content{
  width: 100%;
}
.footer-left-content{
  width: 30%;
  text-align: left;
  padding-left: 50px;
}
.footer-right-content{
  width: 70%;
  text-align: right;
  padding-right: 50px;
}
.inSeperator{
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
  border: none;
}
