<div>
  <center>
  </br>
  <input placeholder="Enter to Search" class="form-input" style="width:90%;text-align:center;" ng-model="search">
</center>
<table class="table" style="text-align: center">
  <thead>
    <tr>
      <th style="text-align: center">Team Member</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="member in memberList | filter:search">
      <td>{{member.name}}</td>
      <td><button class='btn' ng-click="assignUser(member.username)">Assign</button></td>
    </tr>
  </tbody>
</table>
</div>
