<div>
  <tabset>
    <tab heading="All Tickets" active="allActive" disable="allDisabled">
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th style="text-align: center">Holder</th>
            <th style="text-align: center">Customer</th>
            <th style="text-align: center">Title</th>
            <th style="text-align: center">State</th>
            <th style="text-align: center">Priority</th>
            <th style="text-align: center">Assigned Team</th>
            <th style="text-align: center">Assignment Type</th>
            <th style="text-align: center">Due Date</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ticket in listTicket ">
            <td>{{ticket.holderName}}</td>
            <td>{{ticket.customerName}}</td>
            <td><button popover={{ticket.shortDescription}} popover-placement="right" popover-trigger="mouseenter" style="cursor:default;background-color:white;border:none">{{ticket.ticketTitle}}</button></td>
            <td>{{ticket.ticketState}}</td>
            <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
            <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
            <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
            <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
            <td>{{ticket.assignedTeam}}</td>
            <td>{{ticket.assignmentType}}</td>
            <td>{{ticket.dDate | date:'mediumDate'}}</td>
            <td class="dropdown">
              <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
                <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam)">Assign Ticket</a></li>
                <li ng-if="((ticket.holderName != controlUser) && ((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType != 'LEAD ASSIGNED' && member.indexOf(ticket.assignedTeam) > -1) || (leads.indexOf(ticket.assignedTeam) > -1)))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
                <li ng-if="(ticket.holderName == controlUser) && (ticket.ticketState == 'To be acknowledged')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
                <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>

  <!--My Ticket-->
  <tab heading="My Tickets" active="myActive" disable="myDisabled">
    <table class="table" style="text-align: center">
      <thead>
        <tr>
          <th style="text-align: center">Customer</th>
          <th style="text-align: center">Title</th>
          <th style="text-align: center">State</th>
          <th style="text-align: center">Priority</th>
          <th style="text-align: center">Assigned Team</th>
          <th style="text-align: center">Assignment Type</th>
          <th style="text-align: center">Due Date</th>
          <th style="text-align: center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in listTicket" ng-if="ticket.holderName == controlUser">
          <td>{{ticket.customerName}}</td>
          <td><button popover={{ticket.shortDescription}} popover-placement="right" popover-trigger="mouseenter" style="cursor:default;background-color:white;border:none">{{ticket.ticketTitle}}</button></td>
          <td>{{ticket.ticketState}}</td>
          <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
          <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
          <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
          <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
          <td>{{ticket.assignedTeam}}</td>
          <td>{{ticket.assignmentType}}</td>
          <td>{{ticket.dDate | date:'mediumDate'}}</td>
          <td class="dropdown">
            <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
              <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam)">Assign Ticket</a></li>
              <li ng-if="((ticket.holderName != controlUser) && ((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType != 'LEAD ASSIGNED' && member.indexOf(ticket.assignedTeam) > -1) || (leads.indexOf(ticket.assignedTeam) > -1)))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
              <li ng-if="(ticket.holderName == controlUser) && (ticket.ticketState == 'To be acknowledged')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
              <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </tab>

  <!-- team ticket -->

  <tab heading="My Teams' Ticket" active="teamActive" disable="teamDisabled">
    <table class="table" style="text-align: center">
      <thead>
        <tr>
          <th style="text-align: center">Customer</th>
          <th style="text-align: center">Title</th>
          <th style="text-align: center">State</th>
          <th style="text-align: center">Priority</th>
          <th style="text-align: center">Assigned Team</th>
          <th style="text-align: center">Assignment Type</th>
          <th style="text-align: center">Due Date</th>
          <th style="text-align: center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in listTicket" ng-if="member.indexOf(ticket.assignedTeam) > -1">
          <td>{{ticket.customerName}}</td>
          <td><button popover={{ticket.shortDescription}} popover-placement="right" popover-trigger="mouseenter" style="cursor:default;background-color:white;border:none">{{ticket.ticketTitle}}</button></td>
          <td>{{ticket.ticketState}}</td>
          <td ng-if="ticket.priority=='1'"style="font-weight:normal;">Urgent</td>
          <td ng-if="ticket.priority=='2'"style="font-weight:normal;">High</td>
          <td ng-if="ticket.priority=='3'"style="font-weight:normal;">Medium</td>
          <td ng-if="ticket.priority=='4'"style="font-weight:normal;">Low</td>
          <td>{{ticket.assignedTeam}}</td>
          <td>{{ticket.assignmentType}}</td>
          <td>{{ticket.dDate | date:'mediumDate'}}</td>
          <td class="dropdown">
            <button class="btn" type="button" id="menu1" data-toggle="dropdown">Action <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="details(ticket._id)">Ticket Details</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="addLog(ticket._id, ticket.customerID)">Add Log</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="edit(ticket._id)">Edit Ticket</a></li>
              <li ng-if="(member.indexOf(ticket.assignedTeam) > -1 && leads.indexOf(ticket.assignedTeam) > -1)" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="assignTicket(ticket._id,ticket.assignedTeam)">Assign Ticket</a></li>
              <li ng-if="((ticket.holderName != controlUser) && ((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN') || (ticket.holderName == 'OPEN' && ticket.assignmentType != 'LEAD ASSIGNED' && member.indexOf(ticket.assignedTeam) > -1) || (leads.indexOf(ticket.assignedTeam) > -1)))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="grab(ticket._id)">Grab Ticket</a></li>
              <li ng-if="(ticket.holderName == controlUser) && (ticket.ticketState == 'To be acknowledged')" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="acknowledge(ticket._id)">Acknowledge</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="openCustomerInfo(ticket.customerID)">Customer Detail</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="emailCustomer(ticket.customerID, ticket._id, ticket.customerName)">Email Customer</a></li>
              <li ng-if="((ticket.holderName == 'OPEN' && ticket.assignedTeam == 'OPEN' && ticket.assignmentType == 'OPEN') || (ticket.holderName == controlUser) || (member.indexOf(ticket.assignedTeam) > -1 || leads.indexOf(ticket.assignedTeam) > -1))" role="presentation"><a role="menuitem" tabindex="-1" style="cursor:pointer;" ng-click="closeTicket(ticket._id, ticket.customerID)">Close Ticket</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </tab>
  </tabset>
</div>
